<section id="log-container">
    <h2>Register/Log in</h2>
    <section id="registrationForm" class="userIN">

        <form class="login">
            <input id="usernameChoice" type="text" placeholder="Account name" />
            <input id="passwordChoice" type="password" placeholder="Password" />
            <input id="emailChoice" type="email" placeholder="Email" />
            <input id="register" src="#" type="button" value="Register" class="main-buttons" />
        </form>
    </section>

    <section id="loginForm" class="userIN">
        <form class="login">
            <input id="username" type="text" placeholder="Account name" />
            <input id="password" type="password" placeholder="Password" />
            <a class="submit-comment main-buttons" id="login" href="#/profile" style="float: right">Log in</a>
        </form>
    </section>
</section>