<section id="profile-section">
    <div id="profile-left-side">
        <div id="profile-picture">

        </div>
        <div id="profile-info">

        </div>
    </div>
    <div id="profile-right-side">
        <div id="top-user-picture">
            <div class="submit-in-this-album">
                <!--TODO: When uploaded images is selected you can list the namesof the files here or display number of files-->
                <span>Upload image/images</span>
                <input type="file" id="submit-img-button" multiple="multiple" />

            </div>
            <a class="submit-comment" id="logout" href="#/login" style="float: right">Log out</a>
        </div>
        <div id="user-albums"></div>
    </div>
</section>
